@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Italic.woff2") format("woff2"), url("../fonts/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-MediumItalic.woff2") format("woff2"), url("../fonts/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-ThinItalic.woff2") format("woff2"), url("../fonts/Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Dancing Script';
  src: url("../fonts/DancingScript-Bold.woff2") format("woff2"), url("../fonts/DancingScript-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Dancing Script';
  src: url("../fonts/DancingScript-Medium.woff2") format("woff2"), url("../fonts/DancingScript-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Dancing Script';
  src: url("../fonts/DancingScript-Regular.woff2") format("woff2"), url("../fonts/DancingScript-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dancing Script';
  src: url("../fonts/DancingScript-SemiBold.woff2") format("woff2"), url("../fonts/DancingScript-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Dancing Script';
  src: url("../fonts/DancingScript-Regular.woff2") format("woff2"), url("../fonts/DancingScript-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

.primary-color-bg {
  background-color: #f7f7f7;
}

.secondary-color-bg {
  background-color: #ffffff;
}

.content {
  color: #313131;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
}

.main {
  position: relative;
}

.main-cart,
.main-about{
  height: calc(100vh - 210px);
}

.main-color {
  color: #e0aacd;
}

.main-color-emphasized {
  color: #ab4f8b;
}

.font-secondary {
  font-family: 'Dancing Script', cursive;
}

.section {
  overflow: auto;
}

.container {
  margin: auto;
  max-width: 700px;
  padding: 0 10px;
}

.slideshow{
  max-height:310px;
}

.section.secondary-color-bg {
  position: relative;
  max-width: 100%;
  margin: auto;
}

.scaled-image {
  display: none;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.container-grid {
  display: grid;
  grid-gap: 20px;
}

.container-grid-thirds {
  grid-template-columns: 2fr 1fr;
}

@media only screen and (max-width: 1280px) {
  .container-grid-thirds {
    display: block;
  }
}

.container-grid-halves {
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 1280px) {
  .container-grid-halves {
    display: block;
  }
}

.navigation {
  margin: 0;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}

.phone-screen{
  display: flex;
  justify-content: space-between;
}
  
.hamburger {
  display: none;
}

.centered-container {
  text-align: center;
}

.container-floated {
  float: left;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden {
  display: none;
}

.link {
  color: #e0aacd;
  text-decoration: none;
  outline: none;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menu-distributed {
  justify-content: space-around;
}

.menu-item {
  text-transform: uppercase;
  padding: 20px;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.summary-title {
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ab4f8b;
}

.last-flower{
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.scaled-image-fixed {
  display: block;
  width: 200px;
}

.badge-image {
  width: auto;
  height: 150px;
  float: right;
}

.news-title {
  font-size: 30px;
}

.infobox {
  padding-left: 40px;
  background-position: top left;
  background-size: 30px auto;
  background-repeat: no-repeat;
  margin: 0 0 0.5em 0;
  overflow: auto;
}

.infobox-marginless {
  margin-bottom: 0;
}

.infobox-news {
  background-image: url("../images/news-icon.png");
}

.infobox-calendar {
  background-image: url("../images/calendar-icon.png");
}

.infobox-copyright {
  background-image: url("../images/copyright-icon.png");
}

.infobox-flower {
  background-image: url("../images/flower-icon.png");
}

.infobox-truck {
  background-image: url("../images/truck.png");
}

.infobox-scale {
  background-image: url("../images/scale.png");
}

.infobox-title {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

.infobox-subtitle {
  margin: 0.5em 0 0.5em 0;
}

.infobox-content {
  margin: 0 0.5em;
}

.infobox-link {
  margin: 0 0.5em;
}

.infobox-title-secondary-color {
  color: #ffffff;
}

.separator {
  max-width: 200px;
  margin: auto;
  height: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: #e0aacd;
  border-radius: 5px;
  background-image: url("../images/dot.png");
  background-size: 10px;
  background-repeat: repeat-x;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cart {
  text-align: left;
  max-width: 300px;
  height: 400px;
}

.cart-item,
.cart-header {
  display: flex;
  flex-flow: row wrap;
}

.cart-item-title,
.cart-header-title {
  flex: 1;
  color: #ab4f8b;
}

.cart-item-quantity {
  flex: 1;
  max-width: 30px;
}

.cart-header {
  border-bottom: 1px solid #e0aacd;
  color: #ab4f8b;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.cart-item-price {
  flex: 1;
}

.cart-btn {
  cursor: pointer;
  background-image: url(../images/cart-icon.svg);
  width: 30px;
  height: 30px;
  margin: auto;
}

.cart-btn:hover {
  opacity: 0.3;
}

.cart-menu img {
  opacity: 0.5;
}

.cart-menu:hover img, .cart-menu-active img {
  opacity: 1;
}

.cart-menu-status {
  display: flex;
}

.cart-menu-status div {
  padding: 2px;
}

.photo-box {
  text-align: center;
  padding: 0 4px 10px 4px;
}

.photo-box-title {
  font-size: 30px;
}

.photo-box-image {
  width: 200px;
  height: 200px;
  background-color: #e0aacd;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  object-fit: cover;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 1em;
}

.link:hover {
  color: #ab4f8b;
  text-decoration: none;
}

.link-active {
  text-decoration: underline;
  color: #ab4f8b;
}

.main-about{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.about-me img{
  max-width: 500px;
  padding: 10px;
  border-radius: 20px;
}

.tabs{
  max-width: 600px;
  background-color: #f7f7f7;
  padding: 30px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 10px;
}

.tab-box{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  position: relative;
}

.tab-box .tab-btn{
  font-size: 18px;
  font-weight: 600;
  background-color: #f7f7f7;
  border: none;
  padding: 18px;
  cursor: pointer;
}

.tab-box .tab-btn.active{
  color: #ab4f8b;
}

.content-box{
  padding: 0;
}

.content-box .tab-content{
  display: none;
}

.content-box .tab-content.active{
  display: block;
}

.content-box .tab-content h2{
  margin-bottom: 10px;
}

.line{
  position: absolute;
  top: 56px;
  left: 48px;
  width: 100px;
  height: 5px;
  background-color: #ab4f8b;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .navigation{
      display: flex;
      flex-direction: column;
  }    

  .phone-screen{
      align-items: center;
  }

  .menu{
      position:relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 0;
      top: -120px;
  }

  .menu.active {
      height: auto;
      top: 0;
  }

  .hamburger{
      display: block;
      font-size: 50px;
      color: #ab4f8b;
  }
}

@media screen and (min-width: 769px){
  .main-about{
    height: calc(100vh - 210px);
  }
}

@media screen and (max-width: 768px){
  .main-about{
    flex-direction: column;
  }
  .about-me img{
    max-width: 300px;
  }
}

@media screen and (max-width: 366px){
  .line{
    top: 75px;
    left: 20px;
  }
}

@media screen and (max-width: 400px){
  .scaled-image-fixed {
      display: none;
  }

  .main-cart{
    height: calc(100vh - 160px);
  }
  
  .main-about{
    height: calc(100vh - 130px);
  }
}